:root {
   --swiper-navigation-color: #DF1382;
   --swiper-navigation-size: 30px;
}

.swiper {
   width: 100%;
   height: 100%;
   z-index: 1;
}

.swiper-wrapper {
   align-items: center;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: none;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.swiper-slide {
   width: 30%;
}

.swiper-slide-active {
   z-index: 1;
}

@media screen and (max-width: 768px) {
   :root {
      --swiper-navigation-size: 16px;
   }
   

}